body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}

header h1 {
    margin-top: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.imagen-central {
    width: 50%; /* Ancho de la imagen */
    margin: 20px;
}

.imagen-central img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.informacion {
    width: 40%; /* Ancho de la información */
    margin: 20px;
}

.informacion h2 {
    margin-top: 0;
}

.informacion table {
    border-collapse: collapse;
    width: 100%;
}

.informacion th,.informacion td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.informacion th {
    background-color: #f0f0f0;
}

.informacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.informacion li {
    margin-bottom: 10px;
}

.informacion li:before {
    content: "• ";
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}